<h1>To Do List Item Details: </h1>

<h2>@Model["item"].GetDescription()</h2>
<h3>Category: @Model["category"].GetName()</h3>
<h3>Due Date: @Model["item"].GetDate()</h3>




<a href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/edit'>Edit this Item</a>
<form action="/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/delete" method="post">
    <button type="submit" class="btn btn-dark">Delete this item</button>
</form>
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>
